/* line 1, ../../compass/sass/styles.scss */
body {
  background-color: #FFC439;
  color: #533602;
}

/* line 5, ../../compass/sass/styles.scss */
#register {
  margin-right: 10px;
}

/* line 8, ../../compass/sass/styles.scss */
#logout {
  margin-right: 10px;
}

/* line 11, ../../compass/sass/styles.scss */
.navbar {
  margin-bottom: 0px;
  background-color: #FDEDD0;
  border: 0px;
  border-radius: 0px;
}

/* line 17, ../../compass/sass/styles.scss */
.navbar-brand {
  padding: 8px 15px;
}

/* line 20, ../../compass/sass/styles.scss */
.main_content {
  margin-bottom: 20px;
}

/* line 23, ../../compass/sass/styles.scss */
.post_submit {
  background-color: #FEA008;
  text-align: center;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

/* line 30, ../../compass/sass/styles.scss */
.all_posts {
  background-color: #FDEDD0;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
