{% extends 'layout.html' %}
{% block body %}

<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="static/images/bee_banner.jpg" style="width:100%" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Save the BEEEES!</h1>
          <p></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="static/images/bee-hero.png" style="width:100%" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Save the BEEEES!</h1>
          <p></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="static/images/bee_closeup.png" style="width:100%" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Save the BEEEES!</h1>
          <p></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="static/images/bees_on_honeycomb.png" style="width:100%" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Save the BEEEES!</h1>
          <p></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="static/images/worker_bees.png" style="width:100%" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Save the BEEEES!</h1>
          <p></p>
        </div>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>

<div class="container main_content">
  <h1>Bees Need Us: Protect Habitat Today!</h1>

  <p>You can help take on the biggest threats to nature today -- like the fight to save bees.</p>
  <p>In just the last five years, nearly 25 percent of wild bees in the U.S. have been wiped out. Every step we can take to bring bees back is urgently needed -- from hands-on research to restoring habitat.</p>
  <p>Donate now and help take on this and other critical conservation priorities that need immediate action.</p>

<div class="row">
  <div class="col-sm-8 col-md-offset-2 post_submit">
    <form id="submit-post-form" action="post_submit" method="POST">
      <div class="row"><label>What can you say to save the bees?</label></div>
      <div class="row"><textarea name="post_content" cols="60" rows="2"></textarea></div>
      {% if session['username'] %}
      <div class="row"><button type="submit" class="btn btn-default">Submit Post</button></div>
      {% else %}
       <div class="row"><a class="btn btn-default navbar-btn" href="/sign_in" id="sign_in">Please Sign In</a></div>
      {% endif %}
    </form>
  </div>
</div>

<div class="row">
  
        {% for row in posts: %}
        <div class="col-sm-6 col-md-offset-3 all_posts">
          
            <p class="posts">
              <b>{{row[1]}}</b>
            </p>
            <p class="posts">
              Username: {{row[7]}}
            </p>
            <p class="posts">
              Posted: {{row[4].strftime('%r %m-%d-%y')}}
            </p>
            <div class="vote vote-up" postid = "{{row[0]}}">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="imgView" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 451.847 451.846" style="enable-background:new 0 0 451.847 451.846;" xml:space="preserve" class="detail convertSvgInline replaced-svg" data-id="32323" data-kw="navigate6">
                <g>
                  <path style="fill:#4099ff;" d="M248.292,106.406l194.281,194.29c12.365,12.359,12.365,32.391,0,44.744c-12.354,12.354-32.391,12.354-44.744,0   L225.923,173.529L54.018,345.44c-12.36,12.354-32.395,12.354-44.748,0c-12.359-12.354-12.359-32.391,0-44.75L203.554,106.4   c6.18-6.174,14.271-9.259,22.369-9.259C234.018,97.141,242.115,100.232,248.292,106.406z"></path>
                </g>
              </svg>      
            </div>
            <div class="vote-up-down-number" up-down-id="{{row[13]}}">
              {{row[13]}}
            </div>

          <div class="vote vote-down" postid="{{row[0]}}">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="imgView" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 307.053 307.053" style="enable-background:new 0 0 307.053 307.053;" xml:space="preserve" class="detail convertSvgInline replaced-svg" data-id="26046" data-kw="down14">
              <g id="_x34_86._Down">
                <g>
                  <path style="fill:#4099ff;" d="M302.445,80.796l-11.101-11.103c-6.123-6.131-16.074-6.131-22.209,0L153.67,183.707L37.907,67.959     c-6.134-6.13-16.08-6.13-22.209,0L4.597,79.06c-6.129,6.133-6.129,16.067,0,22.201l137.83,137.829     c6.129,6.136,16.067,6.136,22.203,0l137.815-136.096C308.589,96.864,308.589,86.926,302.445,80.796z"></path>
                </g>
              </g>
            </svg>
          </div>
       
        </div>
        {% endfor %}
  
</div>
</div>




















{% endblock %}