{% extends 'layout.html' %}
{% block body %}

<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="static/images/bee_banner.jpg" style="width:100%" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Save the BEEEES!</h1>
          <p></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="static/images/bee-hero.png" style="width:100%" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Save the BEEEES!</h1>
          <p></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="static/images/bee_closeup.png" style="width:100%" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Save the BEEEES!</h1>
          <p></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="static/images/bees_on_honeycomb.png" style="width:100%" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Save the BEEEES!</h1>
          <p></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="static/images/worker_bees.png" style="width:100%" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Save the BEEEES!</h1>
          <p></p>
        </div>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>

<div class="container main_content">
  <h1>Bees Need Us: Protect Habitat Today!</h1>

  <p>You can help take on the biggest threats to nature today -- like the fight to save bees.</p>
  <p>In just the last five years, nearly 25 percent of wild bees in the U.S. have been wiped out. Every step we can take to bring bees back is urgently needed -- from hands-on research to restoring habitat.</p>
  <p>Donate now and help take on this and other critical conservation priorities that need immediate action.</p>

<div class="row">
  <div class="col-sm-8 col-md-offset-2 post_submit">
    <form id="submit-post-form" action="post_submit" method="POST">
      <div class="row"><label>What can you say to save the bees?</label></div>
      <div class="row"><textarea name="post_content" cols="60" rows="2"></textarea></div>
      {% if session['username'] %}
      <div class="row"><button type="submit" class="btn btn-default">Submit Post</button></div>
      {% else %}
       <div class="row"><a class="btn btn-default navbar-btn" href="/sign_in" id="sign_in">Please Sign In</a></div>
      {% endif %}
    </form>
  </div>
</div>

<div class="row">
  
        {% for row in posts: %}
        <div class="col-sm-6 col-md-offset-3 all_posts">
          <div class="col-sm-10">
            <h4 class="posts">
              <b>{{row[2]}}</b>
            </h4>
            <p class="posts">
              Username: {{row[4]}}
            </p>
            <p class="posts">
              Posted: {{row[3].strftime('%r %m-%d-%y')}}
            </p>
          </div>
          <div class="col-sm-2">
            <div class="vote vote-up" postid = "{{row[0]}}">
              <img src="static/images/happy_bee.png" alt=""> 
            </div>
            <div class="vote-up-down-number" up-down-id="{{row[0]}}">
              {{row[5]}}
            </div>
            <div class="vote vote-down" postid="{{row[0]}}">
              <img src="static/images/sad_bee.png" alt="">
            </div>
          </div>
       
        </div>
        {% endfor %}
  
</div>
</div>




















{% endblock %}